.col {
    width: 400px;
    height: 700px;
    background-color: gray;
    flex-direction: column;
    float: left;
    margin: 30px 30px 10px 35px;
    border-radius: 20px;
    word-break: break-all;
}
.cardbox {
    width: 800px;
}
.poster_path {
    width:  400px;
    height: 400px;
}
.card {
    width: 400px;
    height: 600px;
    
    }
.card-body {
    width: 400px;
    height: 150px;
}
.posterimg {
    width: 350px;
    height: 400px;
    margin: 20px;
    
}
.overview {
    height: 140px;
    font-size: 14px;
}
.title {
    font-size: 16px;
   
}
.vote_average{
    font-size: 14px;
    
}
.main {
    
    font-size: 50px;
    color: rgb(177, 177, 78);
    font-style: italic;
}